NODE_ENV=development

# database
DB_PORT='5432'
DB_TYPE='postgres'
DB_USERNAME='postgres'
DB_PASSWORD=''
DB_DATABASE=''
DB_HOST='localhost'

# redis
REDIS_PASSWORD=''
REDIS_HOST='localhost'
REDIS_PORT=

SESSION_SECRET=
SESSION_DURATION=
SESSION_REMEMBER_DURATION=

REQUEST_ENTITY_SIZE_LIMIT=

AUTHORIZATION_THROTTLE_TTL=
AUTHORIZATION_THROTTLE_LIMIT=
PASSWORD_SALT_ROUNDS=
RESET_PASSWORD_TOKEN_EXPIRE_IN=
RESET_PASSWORD_TOKEN_RESEND_IN=

EMAIL_VERIFICATION_TOKEN_EXPIRE_IN=
EMAIL_VERIFICATION_TOKEN_RESEND_IN=

SHARE_LINK_ONE_TIME_PASSWORD_EXPIRE_IN=
SHARE_LINK_ONE_TIME_PASSWORD_RESEND_IN=
SHARE_LINK_ONE_TIME_PASSWORD_LENGTH=
SHARE_LINK_ACCESS_TOKEN_EXPIRE_IN=
SHARE_LINK_ACCESS_TOKEN_SECRET=
SHARE_LINK_TOKEN_EXPIRE_IN=

SMTP_HOST='smtp.gmail.com'
SMTP_FROM=''
SMTP_USER=''
SMTP_PASSWORD=''

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_S3_BUCKET=


